@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
}

body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
 /* HEADER-SECTION-START */
.logo img{
    width: 100%;
    max-width: 100px;
    z-index: 999;
}

header{
     position: fixed;
     top: 0%;
     left: 0%;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px 100px;
     transition: all ease 0.5s;
     z-index: 99999;
}

header ul li{
    display: inline-block;
    margin: 0 15px;
}

header ul li a{
    color: orange;
    transition: all ease 0.5s;
    font-weight: 500;
}

header:hover{
    background-color: black;
}

header:hover a{
    color: orange;
}

.mega-menu{
    position: absolute;
    left: 15%;
    top: 70px;
    width: 100%;
    background-color: white;
    padding: 20px 100px;
    border-radius: 5px;
    /* display: none; */
}

.mega-menu ul li{
     width: 100%;
     margin-bottom: 5px;
     display: block;

}

/* HEADER-SECTION-FINISH */





/* CONTENT-SECTION-START */

.content{
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
}

.content .item{
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: all ease 0.8s;
}

.content .item img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}


.content .item:hover{
    width: 200%;
}


.content .item .text{
    position: absolute;
    left: 0%;
    bottom: -50px;
    width: 100%;
    height: 100%;
    padding: 50px 50px 100px;
    color: white;
    display: flex;
    align-items: flex-end;
    opacity: 0;
    transition: all ease 0.5s 0.2s;
}

.content .item:hover .text{
    opacity: 1;
    bottom: 0;
}

.content .item .text h3{
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 5px;
}

.content .item .text a{
    color: white;
    font-size: 18px;
}

.content .item .text a span{
    font-size: 20px;
    display: inline-block;
    transition: all ease 2s;
}

.content .item .text a:hover span{
    transform: rotate(360deg);
}


/* CONTENT-SECTION-FINISH */